<form [formGroup]="identityForm" [style]="{visibility: registered? 'hidden': 'visible'}"  class="form">
    <h3 class="form-title" >Identity</h3>
    <div class="form-control">
        <label  for="docType" class="form-control-label">Document Type</label>
        <select id="docType" formControlName="documentType"  class="form-control-select">
            <option  *ngFor="let name of ['Passport', 'Birth Certificate', 'Driving License'];" [value]="name" class="option">{{name}}</option>
      
            </select>   
            <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>

    </div>
    <div class="form-control">
        <label  for="Series" class="form-control-label">Series</label>
    
    <input [style]="{display: registered? 'none': 'inline-block'}" id="Series" formControlName="series"   [type]="'text'" class="form-control-input">
    </div>
    <div class="form-control">
        <label  for="Number" class="form-control-label">Number</label>
    
    <input id="Number" [style]="{display: registered? 'none': 'inline-block'}"  [type]="'text'" formControlName="passportNumber"  class="form-control-input">
    </div>
    <div class="form-control">
        <label  for="issued" class="form-control-label">Issued By</label>
    
    <input id="issued"  [type]="'text'" formControlName="issueEdBy"  class="form-control-input">
    </div>
    <div class="form-control">
        <label  for="date" class="form-control-label">Date Of Issue</label>
        <input  (click)="dateClicked()"  [value]="dateValue" [type]="'text'" class="form-control-input">
    <input formControlName="dateOfIssue" (change)="inputChange($event)" id="date" onfocus="this.showPicker()" class="form-control-date show" type="date">
      
</div>
 
    <div class="form-control">
        <label  for="file" class="form-control-label">File (File upload)</label>
    
    <input style="padding-top: 10px;" id="file" (change)="onFileChange($event)" [type]="'file'" formControlName="file"  class="form-control-input">
    </div>
  

   
   

    <app-from-buttons  (formNavigated)="onSubmit($event)" [showPrev]="true" [disabled]="!identityForm?.valid" [showSubmit]="true" ></app-from-buttons>
    
   </form>

<app-message *ngIf="registered" (navToProfile)="navToProfile()" ></app-message>