<div class="footer">
    <div class="footer__about">
        <h2 class="footer__about-name" >
            WIDTH<span class="footer__about-name-highlight" >WING</span>
    
        </h2>

        <p class="footer__about-text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia ullam fugit,
             non error modi dolores sunt dolor vero odio natus.
        </p>
        
        <span  class="footer__about-follow">FOLLOW US</span>
        <div class="footer__about-social">
            <i class="fa fa-facebook nav__list-icon fa-lg" aria-hidden="true"></i>
            <i class="fa fa-twitter nav__list-icon fa-lg" aria-hidden="true"></i>
            <i class="fa fa-linkedin nav__list-icon fa-lg" aria-hidden="true"></i>
            <i class="fa fa-youtube nav__list-icon fa-lg" aria-hidden="true"></i>
        </div>
    </div>
    <div class="footer__services">
        <h3 class="footer__services-title">OUR SERVICES</h3>
        <ul class="footer__services-list" >
        <li >About</li>
        <li >Destination</li>
        <li >Packages</li>
        <li >Guides</li>
        <li >About</li>
    </ul>
    </div>

    <div class="footer__contact">
            <h3 class="footer__contact-title">CONTACT US</h3>
            <ul class="footer__contact-list" >
                    <li>123 Tsereteli Street</li>
                    <li>+2995 598 82 92 71</li>
                    <li>info@withwing.com</li>
            </ul>
    </div>
</div>
