<header class="header" >
  

    <nav class="nav" >


        <div class="header__info" >
            <mat-icon  >email </mat-icon> 
           <span class="header__info-contact header__info-contact--email"> withwing@info </span>     <mat-icon  >phone </mat-icon> <span class="header__info-contact">  +995 598 82 92 71 </span>
        </div>
  
          
        <div class="nav__list" >

          
            <i class="fa fa-facebook nav__list-icon fa-lg" aria-hidden="true"></i>
            <i class="fa fa-twitter nav__list-icon fa-lg" aria-hidden="true"></i>
            <i class="fa fa-linkedin nav__list-icon fa-lg" aria-hidden="true"></i>
            <i class="fa fa-youtube nav__list-icon fa-lg" aria-hidden="true"></i>
        
        
        </div>
       
        
    </nav>
    <app-header-banner></app-header-banner>
</header>
