
@use '../../../assets/tools/bem' as *;
.header{

    position: relative;
    width: 100%;
    max-height: 800px;

    background-color: rgb(245, 246, 245);
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 962px) {
        flex-direction: column;
   
       padding: 0 40px;
        padding-top: 0;

    }
   

    @include element('info'){
       display: flex;
      align-items: center;
      vertical-align: middle;
      color: gray;
      @media only screen and (max-width: 962px) {
        display: none;
    }
      @include part('contact'){
        margin-left: 10px;
        display: flex;
        font-weight: 400;
        @include modifier('email'){
            &::after{
                content: '';
                display: flex;
                width: 2px;
                height: 20px;
                background-color: gray;
                margin: 0 10px;
            }
        }
      }
    }
   
}
.nav{
    display: flex;
    position:relative;
    justify-content: space-between;
    width: 100%;
    max-width:800px;
    align-items: center;
    padding: 20px 0;
    padding-bottom: 60px;

    @media only screen and (max-width: 962px) {
       padding-bottom: 20px;
    }
    @include element('list'){
        display: flex;
        align-items: center;
        max-width: 140px;
        width: 100%;
        justify-content: space-between;
        color: #7AB730;
        @media only screen and (max-width: 962px) {
            display: none;
        }
        
    }

    @include part('menu'){
        color: #7AB730;
        cursor: pointer;
        @media only screen and (min-width: 962px) {
            display: none;
        }
    }

    @include element('mob'){
        transition: all ease-in-out 0.5s;
        height: 0;
        @include modifier('show'){
           height: 180px;
        }
        @media only screen and (min-width: 962px) {
            display: none;
        }
        a{
            text-decoration: none;
            color: black ;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 10px;
        }
     
        @include part('li'){
            margin-top: 10px;

            @include modifier('active'){
                a{
                    color: #7AB730;
                }
               
              
            }
        };

       
       
    }
    @include element('title'){
          font-weight: bold; 
           margin: 0;
           letter-spacing: 4px;
           font-size: 30px;
           padding-bottom: 0;
           @include part('highlight'){
            color: #7AB730;
           }
           @media only screen and (max-width: 462px) {
            font-size: 25px;
             }
           @media only screen and (min-width: 962px) {
            display: none;
             }
    }
    
}