@use '../../../assets/tools/tools.scss' as *;


.actions{

    @include part('menu'){
  
        display: flex;
        margin-top: 19px;
        justify-content: space-between;
        position: relative;
      
      
        .list {
            display: list-item;
            text-align: -webkit-match-parent;
             @include element('button') {
                padding: 0;
                border: none;
                display: inline-flex;
                height: 54px;
                width: 180px;
                letter-spacing: 1.3px;
                align-items: center;
                background: #e4bd37;
                font-family: "Muli-Bold";
                cursor: pointer;
                position: relative;
                padding-left: 44px;
                text-transform: uppercase;
                color: #fff;
                border-radius: 27px;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
               -webkit-transition-duration: 0.7qs;
                transition-duration:  0.6s ;
                text-decoration: none;
                display: flex;
                text-align: center;
                transition: all ease-in-out 0.10s;
                @include hover-supported(){
                    background: #cda628;
                }

                @include modifier('disabled'){
                    cursor: default;
                    opacity: 0.5;
                }

                @media only screen and (max-width: 600px) {
                    width: 120px;
                    font-size: 14px;
                  padding-left: 10px;
                  }


            }
            &:first-child button {
                width: 136px;
                background: #fff;
                padding-left: 34px;
                color: #666;
                font-family: "Muli-Bold";
                @include hover-supported(){
                    background: #f7f3de;
                }
                @media only screen and (max-width: 600px) {
                    width: 120px;
                    font-size: 14px;
                    padding-left: 20px;
                
                  }
               
            }
            @include modifier('hide'){
            opacity: 0;
            visibility: hidden;
            }

        }

        li {
            transition: all ease-in-out 0.6s;
        }
    }
    

}
