.wrapper{
  
    position: fixed;
    max-width: 600px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 40px;
    background-position: 80% 70%;
    opacity: 0.97;
}