<div class="destinations">
    <div class="destinations__places" > 
        <h3 class="destinations__places-about" >DESTINATION</h3>
        <h3 class="destinations__places-title" >Explore Top Destination</h3>
    </div>
<div class="destinations-wrapper" >
<app-destination-item title="United States" [src]="'./assets/img/destination-1.jpg'" ></app-destination-item>
<app-destination-item title="United Kingdom" [src]="'./assets/img/destination-2.jpg'" ></app-destination-item>
<app-destination-item title="Australia" [src]="'./assets/img/destination-3.jpg'" ></app-destination-item>
<app-destination-item title="India" [src]="'./assets/img/destination-4.jpg'" ></app-destination-item>
<app-destination-item title="South Africa" [src]="'./assets/img/destination-5.jpg'" ></app-destination-item>
<app-destination-item title="Indonesia" [src]="'./assets/img/destination-6.jpg'" ></app-destination-item>
</div>
</div>
