<div class="form-control">
<label   class="form-control-label">{{labelText}}</label>
<div *ngIf="!optionsSelector; else optionS " class="checkbox-circle">
   
        <label  *ngFor="let name of multiSelectorItems; let i = index" >
            <input [class]="name" (click)="multiSelectCLicked($event)" [id]="name" [type]="inputType" [name]="singleSelector? 'same': name" [value]="name" > {{name}}<br>
            <span class="checkmark"></span>
            </label>  
</div> 

<div class="form-holder">
   

</div>


<ng-template #optionS>
    <select name=""   id="" class="form-control-select">
        <option  *ngFor="let name of multiSelectorItems;" [value]="name" class="option">{{name}}s</option>
  
        </select>
        

</ng-template>