

@use './assets/tools/bem' as *;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html, body { height: 100%; box-sizing: border-box; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box; }
*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}



.form{
    width: 100%;
    color: #fff;
    @include part('title'){
        font-size: 22px;
        text-transform: uppercase;
       text-align: center;
        letter-spacing: 3px;
       
    
    }
    @include part('holder'){
        @include modifier('checkbox'){
            display: flex;
            justify-content: space-between;
            label{
                cursor: pointer;
                display: inline-block;
                padding-left: 23px;
                position: relative;
                margin-right: 0;
                width: auto;
            } 
           .checkmark {
                position: absolute;
                top: 4px;
                left: 0;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.4);

              
                @include part('selected'){
                    display: inline-block;
                    top: 3px;
                    left: 3px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    position: absolute;
                    background: #fff;
                    visibility: hidden;
                    
                    @include modifier('show'){
                        visibility: visible;
                    }
                   
                }
            
            }
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                
            }
        }
    }
}