

@use './assets/tools/bem' as *;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html, body { height: 100%; box-sizing: border-box; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box; }
*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}



.form{
    width: 100%;
    color: #fff;


   
    @include part('title'){
        font-size: 22px;
        text-transform: uppercase;
       text-align: center;
        letter-spacing: 3px;
       
    
    }

    @include part('control'){
        display: flex;
      
        margin-bottom: 29px;
        align-items: center;
        position: relative;
        @include part('label'){
            width: 34.9%;
            margin-right: 40px;
            @media only screen and (max-width: 600px) {
                width: 100%;
              
              }
        }
        @include part('input'){
        height: 41px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        width: 100%;
        padding: 0 18px;
        background: rgba(255, 255, 255, 0.2);
        width: 65.1%;
        outline: none;
        color: #fff;
        @media only screen and (max-width: 600px) {
            width: 100%;
          
          }
       
        &:focus{
            -webkit-box-shadow: 0 0 10px #fff;
            box-shadow: 0 0 10px #fff;
        }
        
        }
    
        @include part('date'){
            position: absolute;
            left: 40%;
            opacity: 0;
        }
        @include part('select'){
            height: 41px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            background: none;
            border-radius: 5px;
            width: 100%;
            padding: 0 18px;
            background: rgba(255, 255, 255, 0.2);
            outline: none;
            color: #fff;
            width: 65.1%;
            text-transform: uppercase;
            -webkit-appearance: none;
             cursor: pointer;
            .option{
                font-weight: normal;
                display: block;
                white-space: nowrap;
                min-height: 1.2em;
                padding: 0px 2px 1px; 
                color: #999; 
                padding: 10px;
            }
            @media only screen and (max-width: 600px) {
                width: 100%;
              
              }
        }
        @media only screen and (max-width: 600px) {
            flex-wrap: wrap;
          
          }
    }
    @include part('help'){
        position: absolute;
        bottom: -20px;
        color: #dc3545;
        left: 40%;
        font-size: 13px;
    }
}



.checkbox-circle{
    display: flex;
    justify-content: space-between;
    width: 65.1%;
    label {
        cursor: pointer;
        display: inline-block;
        padding-left: 0px;
        position: relative;
        margin-right: 0;
        width: auto;
        font-size: 14px;
        
    }
    @media only screen and (max-width: 600px) {
        width: 100%;
      
      }
}


input.ng-invalid.ng-touched {
    border: 1px solid #dc3545 !important;
   
}